.fixed.launch.button {
  position: fixed;
  top: 25px;
  left: -1px;

  width: 55px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -moz-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -o-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -ms-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  transition:
    0.3s width ease,
    0.5s transform ease
  ;

  .text {
    position: absolute;
    white-space: nowrap;
    top: auto;
    left: 54px;
    opacity: 0;
    -webkit-transition:
      0.3s opacity 0.3s
    ;
    -moz-transition:
      0.3s opacity 0.3s
    ;
    -o-transition:
      0.3s opacity 0.3s
    ;
    -ms-transition:
      0.3s opacity 0.3s
    ;
    transition:
      0.3s opacity 0.3s
    ;
  }

  &:hover {
    width: 130px;

    .text {
      opacity: 1;
    }
  }

}

.launch.button .icon {
  margin-left: 0px;
}
