.fixed.launch.button {
  position: fixed;
  top: 63px;
  left: -1px;

  width: 55px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -moz-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -o-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -ms-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  transition:
    0.3s width ease,
    0.5s transform ease
  ;

  .text {
    position: absolute;
    white-space: nowrap;
    top: auto;
    left: 54px;
    opacity: 0;
    -webkit-transition:
      0.3s opacity 0.3s
    ;
    -moz-transition:
      0.3s opacity 0.3s
    ;
    -o-transition:
      0.3s opacity 0.3s
    ;
    -ms-transition:
      0.3s opacity 0.3s
    ;
    transition:
      0.3s opacity 0.3s
    ;
  }

  &:hover {
    width: 130px;

    .text {
      opacity: 1;
    }
  }

}

.launch.button .icon {
  margin-left: 0px;
}

.menu-shadow {
  -webkit-box-shadow: 0px 5px 3px 0px rgba(50, 50, 50, 0.3) !important;
  -moz-box-shadow:    0px 5px 3px 0px rgba(50, 50, 50, 0.3) !important;
  box-shadow:         0px 5px 3px 0px rgba(50, 50, 50, 0.3) !important;
}

.clear {
  clear: both;
}

canvas.tranglify {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  min-width: 100%;
  z-index: -1;
}

